@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    background-color: #1f2732;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(219, 219, 219);
    font-family: "Montserrat";
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-resizer {
    background-color: #666;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu {
    top: unset;
    left: unset;
    padding: 0;
    border-radius: 5px;
}

.dropdown-divider {
    overflow: hidden;
    margin: 0;
    border-top: 1px solid #7ebaff;
}

.dropdown-item {
    background-color: #365976;
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #215a90;
}

.dropdown-item:hover {
    background-color: #4e82af;
    color: #fff;
}
